$primary-color: #FFFFFF;
$secondary-color: #181818;
$tertiary-color: #ecece97e;

$color-primary-button: #121416;

$border-color: #8b7e7e;

$color-hover-primary: #d4a767;
$color-hover-secondary: #eeeaea;

//Color text
$color-text: #F8F8F8;
$color-text-secondary: #b6afa8;
$color-text-tertiary: #000000;
$color-text-quaternary: #d4a767;

$font-family: var(--font-inter), system-ui, sans-serif;
$font-family-display: var(--font-playfair-display), Georgia, serif;

$font-size-xsmall: 10px;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-medium: 16px;
$font-size-medium-large: 18px;
$font-size-large: 24px;
$font-size-xlarge: 30px;
$font-size-xxlarge: 36px;
$font-size-xxxlarge: 48px;
$font-size-xxxxlarge: 72px;
$font-size-mega: 160px;

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$color-error: #ff4d4f;
$color-success: #52c41a;

$color-status-confirmed: #1f59b6;
$color-status-confirmed-bg: #3e82f7;
$color-status-preparing: #a05e00;
$color-status-preparing-bg: #ff9800;
$color-status-ready: #006e61;
$color-status-ready-bg: #00a38e;

$color-instagram: #B453E6;
$color-whatsapp: #25D366;
$color-tiktok: #000000;